.bgimg{
    background-image: url('../../assets/Leonardo_Lightning_XL_cooking_background_image_with_chef_and_c_0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.hight{
    height: 550px;
}